<mat-card>
    <mat-card-header></mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <mat-label>User</mat-label>
            <input type="text" matInput [(ngModel)]="user" id="user">
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="pass" id="pass">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field><br>
        <button mat-button color="primary" (click)="sendLogin()">Login</button>
    </mat-card-content>
</mat-card>